<!doctype html>
<html class="no-js" lang="en">
    <head>
          {{>head}}
    </head>

    <body>
        <!-- navigation panel -->
        <nav class="navbar navbar-default navbar-fixed-top nav-transparent overlay-nav sticky-nav nav-white nav-dark-transparent" role="navigation">
            <div class="container">
                <div class="row">
                    <!-- logo -->
                    <div class="col-md-2 pull-left">
                        <a class="logo-light" href="/">
                            <img alt="" src="images/logo-white.png" class="logo" />
                        </a>
                        <a class="logo-dark" href="/">
                            <img alt="" src="images/logo-light.png" class="logo" />
                        </a>
                    </div>
                    <!-- end logo -->

                    <!-- toggle navigation -->
                    <div class="navbar-header col-sm-8 col-xs-2 pull-right">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    </div>
                    <!-- toggle navigation end -->
                    <!-- main menu -->
                    <div class="col-md-10 no-padding-right accordion-menu text-right">
                        <div class="navbar-collapse collapse">
                            <ul id="accordion" class="nav navbar-nav navbar-right panel-group">
                                <!-- menu item -->
                                <li class="dropdown panel">
                                    <a href="/">Home <i class="fa fa-angle-down"></i></a>
                                </li>
                                    <li class="dropdown panel simple-dropdown">
                                        <a href="#collapse7" class="dropdown-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-hover="dropdown">Pads <i class="fa fa-angle-down"></i></a>
                                        <!-- sub menu single -->
                                        <!-- sub menu item  -->
                                        <ul id="collapse7" class="dropdown-menu panel-collapse collapse" role="menu">
                                            <li><a href="/pads">New York</a></li>
                                            <li><a href="/pads">Chicago</a></li>
                                            <li><a href="/pads">Los Angeles</a></li>
                                        </ul>
                                        <!-- end sub menu item  -->
                                        <!-- end sub menu single -->
                                    </li>
                                <li class="dropdown panel">
                                    <a href="/register">Join <i class="fa fa-angle-down"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- end main menu -->
                </div>
            </div>
        </nav>
        <!--end navigation panel --> 

        <!-- head section -->
        <section class="wow fadeIn border-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-sm-10 center-col text-center margin-ten no-margin-top xs-margin-bottom-seven">
                        <h6 class="no-margin-top margin-ten xs-margin-bottom-seven"><strong class="black-text">User Account Info</strong></h6>
                    </div>
                </div>
                <div class="row">
                    <!-- tab -->
                    <div class="col-md-12 col-sm-12 center-col text-center" id="animated-tab">
                        <!-- tab navigation -->
                        <ul class="nav nav-tabs margin-five no-margin-top">
                            <li class="nav active"><a href="#tab6_sec1" data-toggle="tab"><span><i class="icon-tools"></i></span></a><h5>Profile</h5></li>
                            <li class="nav"><a href="#tab6_sec2" data-toggle="tab"><span><i class="icon-camera"></i></span></a><h5>Listings</h5></li>
                            <li class="nav"><a href="#tab6_sec3" data-toggle="tab"><span><i class="icon-target"></i></span></a><h5>Billing Info</h5></li>
                            <li class="nav"><a href="#tab6_sec4" data-toggle="tab"><span><i class="icon-laptop"></i></span></a><h5>Setting</h5></li>
                        </ul>
                        <!-- end tab navigation -->
                        <!-- tab content section -->
                        <div class="tab-content">
                            <!-- tab content -->
                            <div id="tab6_sec1" class="col-md-9 col-sm-12 text-center center-col tab-pane fade in active"> 
                                <div class="tab-pane fade in"> 
                                    <div class="row"> 
                                        <div class="col-md-6 col-sm-12 text-left gray-text">
                                            <h5>Profile</h5>
                                            <div class="separator-line bg-yellow no-margin-lr sm-margin-five"></div>
                                            <p class="text-large margin-five margin-right-ten">Introduce yourself to CrashPad Community</p>
                                        </div>
                                          <div class="col-md-6 col-sm-12 text-left gray-text">
                                            <form>
                                                <div class="form-group">
                                                    <label for="exampleInputFirstName1">First Name</label>
                                                    <input type="email" class="form-control input-round big-input text-lowercase" id="exampleInputFirstName1" placeholder="First Name">
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputCity1">City</label>
                                                    <input type="password" class="form-control input-round big-input text-lowercase" id="exampleInputCity1" placeholder="City">
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputCity1">Email</label>
                                                    <input type="password" class="form-control input-round big-input text-lowercase" id="exampleInputEmail1" placeholder="Email">
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputFile">Password</label>
                                                    <input type="file" id="exampleInputPassword" class="input-round big-input text-lowercase" placeholder="Password">
                                                </div>
                                                <div class="checkbox">
                                                    <label><input type="checkbox">Terms & Condition </label> 
                                                </div>
                                                <button class="btn btn-black btn-small btn-round no-margin-bottom" type="submit">Submit</button> 
                                            </form>
                                          </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end tab content -->
                            <!-- tab content -->
                            <div id="tab6_sec2" class="col-md-9 col-sm-12 text-center center-col tab-pane fade in"> 
                                <div class="tab-pane fade in"> 
                                    <div class="row"> 
                                        <div class="col-md-6 col-sm-12 text-left gray-text">
                                            <h5>Listings</h5>
                                            <div class="separator-line bg-yellow no-margin-lr sm-margin-five"></div>
                                            <p class="text-large margin-five margin-right-ten">Showing your available Pads for community</p>
                                        </div>
                                          <div class="col-md-6 col-sm-12 text-left text-med gray-text">
                                            <form>
                                                <div class="form-group">
                                                    <label for="exampleInputLocation1">Address</label>
                                                    <input type="email" class="form-control input-round big-input text-lowercase" id="exampleInputAddress1" placeholder="Enter Location">
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputCity1">City</label>
                                                    <input type="password" class="form-control input-round big-input text-lowercase" id="exampleInputCity1" placeholder="City">
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputCity1">Rate</label>
                                                    <input type="password" class="form-control input-round big-input text-lowercase" id="exampleInputRate1" placeholder="Rate">
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputFile">Image</label>
                                                    <input type="file" id="exampleInputFile" class="input-round big-input text-lowercase">
                                                </div>
                                                <div class="checkbox">
                                                    <label><input type="checkbox">Terms & Condition </label> 
                                                </div>
                                                <button class="btn btn-black btn-small btn-round no-margin-bottom" type="submit">Submit</button> 
                                              </form>
                                          </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end tab content -->
                            <!-- tab content -->
                            <div id="tab6_sec3" class="col-md-9 col-sm-12 text-center center-col tab-pane fade in"> 
                                <div class="tab-pane fade in"> 
                                    <div class="row"> 
                                        <div class="col-md-6 col-sm-12 text-left gray-text">
                                            <h5>Billing Info</h5>
                                            <div class="separator-line bg-yellow no-margin-lr sm-margin-five"></div>
                                            <p class="text-large margin-five margin-right-ten">How do you want to get pay and take care your bills</p>
                                        </div>
                                        <div class="col-md-6 col-sm-12 text-left text-med gray-text">
                                            <form>
                                                <div class="form-group">
                                                    <label for="exampleInputLocation1">Address</label>
                                                    <input type="email" class="form-control input-round big-input text-lowercase" id="exampleInputAddress1" placeholder="Enter Location">
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputCity1">City</label>
                                                    <input type="password" class="form-control input-round big-input text-lowercase" id="exampleInputCity1" placeholder="City">
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputCity1">Rate</label>
                                                    <input type="password" class="form-control input-round big-input text-lowercase" id="exampleInputRate1" placeholder="Rate">
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputFile">Image</label>
                                                    <input type="file" id="exampleInputFile" class="input-round big-input text-lowercase">
                                                </div>
                                                <div class="checkbox">
                                                    <label><input type="checkbox">Terms & Condition </label> 
                                                </div>
                                                <button class="btn btn-black btn-small btn-round no-margin-bottom" type="submit">Submit</button> 
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end tab content -->
                            <!-- tab content -->
                            <div id="tab6_sec4" class="col-md-9 col-sm-12 text-center center-col tab-pane fade in"> 
                                <div class="tab-pane fade in"> 
                                    <div class="row"> 
                                        <div class="col-md-6 col-sm-12 text-left gray-text">
                                            <h5>Setting</h5>
                                            <div class="separator-line bg-yellow no-margin-lr sm-margin-five"></div>
                                            <p class="text-large margin-five margin-right-ten">A first impression can make or break you. we can help you find the precise message to clearly.</p>
                                        </div>
                                        <div class="col-md-6 col-sm-12 text-left text-med gray-text">
                                            <form>
                                                <div class="form-group">
                                                    <label for="exampleInputLocation1">Location</label>
                                                    <input type="email" class="form-control input-round big-input text-lowercase" id="exampleInputLocation1" placeholder="Enter Location">
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputCity1">City</label>
                                                    <input type="password" class="form-control input-round big-input text-lowercase" id="exampleInputCity1" placeholder="City">
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputFile">File input</label>
                                                    <input type="file" id="exampleInputFile" class="input-round big-input text-lowercase">
                                                </div>
                                                <div class="checkbox">
                                                    <label><input type="checkbox">Terms & Condition </label> 
                                                </div>
                                                <button class="btn btn-black btn-small btn-round no-margin-bottom" type="submit">Submit</button> 
                                          </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end tab -->
                </div>
            </div>
        </section>
        <!-- end content section -->
 
        {{>footer}}
        {{>scripts}}

    </body>
</html>
