<!doctype html>
<html class="no-js" lang="en">
    <head>
        <title>H-Code | Responsive & Multi-Purpose One/Multi Page Template</title>
        <meta name="description" content="H-Code - A premium portfolio template from ThemeZaa">
        <meta name="keywords" content="">
        <meta charset="utf-8">
        <meta name="author" content="ThemeZaa">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
        <!-- favicon -->
        <link rel="shortcut icon" href="images/favicon.png">
        <link rel="apple-touch-icon" href="images/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
        <!-- animation --> 
        <link rel="stylesheet" href="css/animate.css" />
        <!-- bootstrap --> 
        <link rel="stylesheet" href="css/bootstrap.css" />
        <!-- et line icon --> 
        <link rel="stylesheet" href="css/et-line-icons.css" />
        <!-- font-awesome icon -->
        <link rel="stylesheet" href="css/font-awesome.min.css" />
        <!-- revolution slider -->
        <link rel="stylesheet" href="css/extralayers.css" />
        <link rel="stylesheet" href="css/settings.css" />
        <!-- magnific popup -->
        <link rel="stylesheet" href="css/magnific-popup.css" />
        <!-- owl carousel -->
        <link rel="stylesheet" href="css/owl.carousel.css" />
        <link rel="stylesheet" href="css/owl.transitions.css" />
        <link rel="stylesheet" href="css/full-slider.css" />
        <!-- text animation -->
        <link rel="stylesheet" href="css/text-effect.css" />
        <!-- hamburger menu  -->
        <link rel="stylesheet" href="css/menu-hamburger.css" />
        <!-- common -->
        <link rel="stylesheet" href="css/style.css" />
        <!-- responsive -->
        <link rel="stylesheet" href="css/responsive.css" />
        <!--[if IE]>
            <link rel="stylesheet" href="css/style-ie.css" />
        <![endif]-->
        <!--[if IE]>
            <script src="js/html5shiv.js"></script>
        <![endif]-->

    </head>
    <body>
        <!-- navigation panel -->
        <nav class="navbar navbar-default navbar-fixed-top nav-transparent overlay-nav sticky-nav nav-white nav-dark-transparent" role="navigation">
            <div class="container">
                <div class="row">
                    <!-- logo -->
                    <div class="col-md-2 pull-left">
                        <a class="logo-light" href="/">
                            <img alt="" src="images/logo-white.png" class="logo" />
                        </a>
                        <a class="logo-dark" href="/">
                            <img alt="" src="images/logo-light.png" class="logo" />
                        </a>
                    </div>
                    <!-- end logo -->

                    <!-- toggle navigation -->
                    <div class="navbar-header col-sm-8 col-xs-2 pull-right">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    </div>
                    <!-- toggle navigation end -->
                    <!-- main menu -->
                    <div class="col-md-10 no-padding-right accordion-menu text-right">
                        <div class="navbar-collapse collapse">
                            <ul id="accordion" class="nav navbar-nav navbar-right panel-group">
                                <!-- menu item -->
                                <li class="dropdown panel">
                                    <a href="/">Home <i class="fa fa-angle-down"></i></a>
                                </li>
                                    <li class="dropdown panel simple-dropdown">
                                        <a href="#collapse7" class="dropdown-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-hover="dropdown">Pads <i class="fa fa-angle-down"></i></a>
                                        <!-- sub menu single -->
                                        <!-- sub menu item  -->
                                        <ul id="collapse7" class="dropdown-menu panel-collapse collapse" role="menu">
                                            <li><a href="/pads">New York</a></li>
                                            <li><a href="/pads">Chicago</a></li>
                                            <li><a href="/pads">Los Angeles</a></li>
                                        </ul>
                                        <!-- end sub menu item  -->
                                        <!-- end sub menu single -->
                                    </li>
                                <li class="dropdown panel">
                                    <a href="/register">Join <i class="fa fa-angle-down"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- end main menu -->
                </div>
            </div>
        </nav>
        <!-- end navigation panel -->

		<!-- parallax -->
        <section class="parallax1 parallax-fix full-screen" style="max-height:660px" >
            <img class="parallax-background-img" src="/images/nycrooftop.jpg" alt="" />
            <div class="container full-screen position-relative">
            	<div class="row" >
            		<div class="col-md-5">
						<form class="signup" action="/api/profile" method="post">
							<p> 
								Sign up for a sneak preview when <br />we launch this Spring! 
							</p>
							<hr />
					    	<input type="text" name="name" placeholder="First Name" /><br />
					    	<input type="text" name="city" placeholder="City" /><br />
					    	<input type="text" name="email" placeholder="Email" /><br />
					    	<input type="text" name="password" placeholder="Password" /><br />
					    	<button class="btn btn-success no-margin-bottom" type="submit">Register</button>
				    	</form>

            		</div>

            		<div class="col-md-7">
            			<div class="slider-typography">
                    		<div class="slider-text-middle-main">
                      		  <div class="slider-text-bottom slider-text-middle5 text-left animated fadeInUp">
		                            <span class="slider-title-big5 white-text">Need a place to crash tonight?</span>
		                            <span class="slider-subtitle5 white-text">Find nearby places <br> to crash!<br></span><br>
		                            <div class="separator-line bg-yellow no-margin-lr no-margin-top xs-margin-bottom-ten"></div>
		                            <span class="slider-title-big5 white-text">Have a spare room?</span>
		                            <span class="slider-subtitle5 white-text">Earn some extra <br> Cash Tonight!<br></span><br>
                       			 </div>
                    		</div>
               			 </div>
            		</div>
            	</div>
            </div>
        </section>
        <!-- end parallax -->

        <!-- about section -->
        <section class="no-padding-bottom wow fadeIn">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-10 text-center center-col">
                        <span class="margin-five no-margin-top display-block letter-spacing-2">EST. 2015</span>
                        <h1>An overnight stay marketplce with local hosts.</h1>
                        <p class="text-med width-90 center-col margin-seven no-margin-bottom"> We are a marketplace for last-minute stay where you can stay overnight with local hosts. .</p>
                    </div>
                </div>
            </div>
             
        </section>
        <!-- end about section -->
       

        <!-- key person section -->
        <section id="Current-Pads" class="wow fadeIn">
            <div class="container">
                <div class="row">
                    <!-- section title -->
                    <div class="col-md-12 text-center">
                        <h3 class="section-title no-padding-bottom">Current Pads</h3>
                    </div>
                    <!-- end section title -->
                    <div class="col-md-5 col-sm-10 center-col text-center margin-six wow fadeIn">
                        <h4 class="gray-text">Available Pads near you. </h4>
                    </div>
                </div>

                <div class="row margin-six">
                    <!-- key person item -->
                    <div class="col-md-4 col-xs-4 bottom-margin text-center">
                        <div class="key-person">
                            <div class="key-person-img"><img src="images/livingroom.jpg" alt=""></div>
                            <div class="key-person-details">
                                <span class="person-name black-text">Midtown East</span> <span class="person-post">$200</span>
                                <div class="separator-line bg-yellow"></div>
                                <p>Spaceous bedroom with a private bathroom!.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-4 bottom-margin text-center">
                        <div class="key-person">
                            <div class="key-person-img"><img src="images/bed.jpg" alt=""></div>
                            <div class="key-person-details">
                                <span class="person-name black-text">Fashion District</span> <span class="person-post">$225</span>
                                <div class="separator-line bg-yellow"></div>
                                <p>Easy access to uptown or downtown</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-4 text-center">
                        <div class="key-person">
                            <div class="key-person-img"><img src="images/patio.jpg" alt=""></div>
                            <div class="key-person-details">
                                <span class="person-name black-text">Chelsea</span> <span class="person-post">$250</span>
                                <div class="separator-line bg-yellow"></div>
                                <p>Large living room space with patio.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end key person section -->

        <section>
            <div>
                <div class="row center-col text-center">
                    <h5 class="wow fadeInDown">Want to be part of CrashPad Community.</h5>
                    <a class="btn highlight-button-black-border margin-four no-margin-bottom wow fadeInUp" href="contact-us.html">Join Us</a>
                </div>
            </div>
        </section>
       
        <!-- style="padding:40px 0px 40px 0px;text-align:center"-->
        <!-- footer -->
        <footer>
            <div class=" bg-white footer-top">
                <div class="container">
                    <div class="row margin-four">
                        <!-- phone -->
                        <div class="col-md-4 col-sm-4 text-center"><i class="icon-phone small-icon black-text"></i><h6 class="black-text margin-two no-margin-bottom">123-456-7890</h6></div>
                        <!-- end phone -->
                        <!-- address -->
                        <div class="col-md-4 col-sm-4 text-center"><i class="icon-map-pin small-icon black-text"></i><h6 class="black-text margin-two no-margin-bottom">Victoria, United States</h6></div>
                        <!-- end address -->
                        <!-- email -->
                        <div class="col-md-4 col-sm-4 text-center"><i class="icon-envelope small-icon black-text"></i><h6 class="margin-two no-margin-bottom"><a href="mailto:no-reply@domain.com" class="black-text">no-reply@domain.com</a></h6></div>
                        <!-- end email -->
                    </div>
                </div>
            </div>
            <div class="container footer-middle">

                <div class="wide-separator-line bg-mid-gray no-margin-lr margin-three no-margin-bottom"></div>
                <div class="row margin-four no-margin-bottom">
                    <div class="col-md-6 col-sm-12 sm-text-center sm-margin-bottom-four">
                        <!-- link -->
                        <ul class="list-inline footer-link text-uppercase">
                            <li><a href="about-us.html">About</a></li>
                            <li><a href="blog-masonry-3columns.html">Blog</a></li>
                            <li><a href="careers.html">Careers</a></li>
                            <li><a href="testimonials.html">Testimonials</a></li>
                            <li><a href="contact-us.html">Contact</a></li>
                        </ul>
                        <!-- end link -->
                    </div>
                    <div class="col-md-6 col-sm-12 footer-social text-right sm-text-center">
                        <!-- social media link -->
                        <a target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                        <a target="_blank" href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                        <a target="_blank" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                        <!-- end social media link -->
                    </div>
                </div>
            </div>
            <div class="container-fluid bg-dark-gray footer-bottom">
                <div class="container">
                    <div class="row margin-three">
                        <!-- copyright -->
                        <div class="col-md-6 col-sm-6 col-xs-12 copyright text-left letter-spacing-1 xs-text-center xs-margin-bottom-one">
                            &copy; 2015 Powered by CrashPad.
                        </div>
                        <!-- end copyright -->
                        <!-- logo -->
                        <div class="col-md-6 col-sm-6 col-xs-12 footer-logo text-right xs-text-center">
                            <a href="index.html"><img src="images/logo-light.png" alt="" /></a>
                        </div>
                        <!-- end logo -->
                    </div>
                </div>
            </div>
            <!-- scroll to top -->
            <a href="javascript:;" class="scrollToTop"><i class="fa fa-angle-up"></i></a>
            <!-- scroll to top End... -->
        </footer>
        <!-- end footer -->
        <!-- javascript libraries / javascript files set #1 --> 
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/modernizr.js"></script>
        <script type="text/javascript" src="js/bootstrap.js"></script> 
        <script type="text/javascript" src="js/bootstrap-hover-dropdown.js"></script>
        <script type="text/javascript" src="js/jquery.easing.1.3.js"></script> 
        <script type="text/javascript" src="js/skrollr.min.js"></script>  
        <script type="text/javascript" src="js/smooth-scroll.js"></script>
         <!-- jquery appear -->
        <script type="text/javascript" src="js/jquery.appear.js"></script>
        <!-- animation -->
        <script type="text/javascript" src="js/wow.min.js"></script>
        <!-- page scroll -->
        <script type="text/javascript" src="js/page-scroll.js"></script>
        <!-- easy piechart-->
        <script type="text/javascript" src="js/jquery.easypiechart.js"></script>
        <!-- parallax -->
        <script type="text/javascript" src="js/jquery.parallax-1.1.3.js"></script>
        <!--portfolio with shorting tab --> 
        <script type="text/javascript" src="js/jquery.isotope.min.js"></script> 
        <!-- owl slider  -->
        <script type="text/javascript" src="js/owl.carousel.min.js"></script>
        <!-- magnific popup  -->
        <script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
        <script type="text/javascript" src="js/popup-gallery.js"></script>
        <!-- text effect  -->
        <script type="text/javascript" src="js/text-effect.js"></script>
        <!-- revolution slider  -->
        <script type="text/javascript" src="js/jquery.tools.min.js"></script>
        <script type="text/javascript" src="js/jquery.revolution.js"></script>
        <!-- counter  -->
        <script type="text/javascript" src="js/counter.js"></script>
         <!-- countTo -->
        <script type="text/javascript" src="js/jquery.countTo.js"></script>
        <!-- fit videos  -->
        <script type="text/javascript" src="js/jquery.fitvids.js"></script>
        <!-- imagesloaded  -->
        <script type="text/javascript" src="js/imagesloaded.pkgd.min.js"></script>
        <!-- hamburger menu-->
        <script type="text/javascript" src="js/classie.js"></script>
        <script type="text/javascript" src="js/hamburger-menu.js"></script>
        <!-- setting --> 
        <script type="text/javascript" src="js/main.js"></script>
    </body>
</html>
