<!doctype html>
<html class="no-js" lang="en">
    <head>
        {{>head}}
    </head>


    <body>
        <!-- navigation panel -->
        <nav class="navbar navbar-default navbar-fixed-top nav-transparent overlay-nav sticky-nav nav-white nav-dark-transparent" role="navigation">
            <div class="container">
                <div class="row">
                    <!-- logo -->
                    <div class="col-md-2 pull-left">
                        <a class="logo-light" href="/">
                            <img alt="" src="images/logo-white.png" class="logo" />
                        </a>
                        <a class="logo-dark" href="/">
                            <img alt="" src="images/logo-light.png" class="logo" />
                        </a>
                    </div>
                    <!-- end logo -->

                    <!-- toggle navigation -->
                    <div class="navbar-header col-sm-8 col-xs-2 pull-right">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    </div>
                    <!-- toggle navigation end -->
                    <!-- main menu -->
                    <div class="col-md-10 no-padding-right accordion-menu text-right">
                        <div class="navbar-collapse collapse">
                            <ul id="accordion" class="nav navbar-nav navbar-right panel-group">
                                <!-- menu item -->
                                <li class="dropdown panel">
                                    <a href="/">Home <i class="fa fa-angle-down"></i></a>
                                </li>
                                    <li class="dropdown panel simple-dropdown">
                                        <a href="#collapse7" class="dropdown-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-hover="dropdown">Pads <i class="fa fa-angle-down"></i></a>
                                        <!-- sub menu single -->
                                        <!-- sub menu item  -->
                                        <ul id="collapse7" class="dropdown-menu panel-collapse collapse" role="menu">
                                            <li><a href="/pads">New York</a></li>
                                            <li><a href="/pads">Chicago</a></li>
                                            <li><a href="/pads">Los Angeles</a></li>
                                        </ul>
                                        <!-- end sub menu item  -->
                                        <!-- end sub menu single -->
                                    </li>
                                <li class="dropdown panel">
                                    <a href="/register">Join <i class="fa fa-angle-down"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- end main menu -->
                </div>
            </div>
        </nav>
        <!-- end navigation panel -->

		<!-- parallax -->
        <section class="parallax1 parallax-fix full-screen" style="max-height:660px" >
            <img class="parallax-background-img" src="/images/nycrooftop.jpg" alt="" />
            <div class="container full-screen position-relative">
            	<div class="row" >
            		<div class="col-md-5">
						<form class="signup" action="/api/profile" method="post">
							<p> 
								Sign up for a sneak preview when <br />we launch this Spring! 
							</p>
							<hr />
					    	<input type="text" name="name" placeholder="First Name" /><br />
					    	<input type="text" name="city" placeholder="City" /><br />
					    	<input type="text" name="email" placeholder="Email" /><br />
					    	<input type="text" name="password" placeholder="Password" /><br />
					    	<button class="btn btn-success no-margin-bottom" type="submit">Register</button>
				    	</form>

            		</div>

            		<div class="col-md-7">
            			<div class="slider-typography">
                    		<div class="slider-text-middle-main">
                      		  <div class="slider-text-bottom slider-text-middle5 text-left animated fadeInUp">
		                            <span class="slider-title-big5 white-text">Need a place to crash tonight?</span>
		                            <span class="slider-subtitle5 white-text">Find nearby places <br> to crash!<br></span><br>
		                            <div class="separator-line bg-yellow no-margin-lr no-margin-top xs-margin-bottom-ten"></div>
		                            <span class="slider-title-big5 white-text">Have a spare room?</span>
		                            <span class="slider-subtitle5 white-text">Earn some extra <br> Cash Tonight!<br></span><br>
                       			 </div>
                    		</div>
               			 </div>
            		</div>
            	</div>
            </div>
        </section>
        <!-- end parallax -->

        <!-- about section -->
        <section class="no-padding-bottom wow fadeIn">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-10 text-center center-col">
                        <span class="margin-five no-margin-top display-block letter-spacing-2">EST. 2015</span>
                        <h1>An overnight stay marketplce with local hosts.</h1>
                        <p class="text-med width-90 center-col margin-seven no-margin-bottom"> We are a marketplace for last-minute stay where you can stay overnight with local hosts. .</p>
                    </div>
                </div>
            </div>
             
        </section>
        <!-- end about section -->
       

        <!-- key person section -->
        <section id="Current-Pads" class="wow fadeIn">
            <div class="container">
                <div class="row">
                    <!-- section title -->
                    <div class="col-md-12 text-center">
                        <h3 class="section-title no-padding-bottom">Current Pads</h3>
                    </div>
                    <!-- end section title -->
                    <div class="col-md-5 col-sm-10 center-col text-center margin-six wow fadeIn">
                        <h4 class="gray-text">Available Pads near you. </h4>
                    </div>
                </div>

                <div class="row margin-six">
                    <!-- key person item -->
                    <div class="col-md-4 col-xs-4 bottom-margin text-center">
                        <div class="key-person">
                            <div class="key-person-img"><img src="images/livingroom.jpg" alt=""></div>
                            <div class="key-person-details">
                                <span class="person-name black-text">Midtown East</span> <span class="person-post">$200</span>
                                <div class="separator-line bg-yellow"></div>
                                <p>Livingroom with a private bathroom!.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-4 bottom-margin text-center">
                        <div class="key-person">
                            <div class="key-person-img"><img src="images/bed.jpg" alt=""></div>
                            <div class="key-person-details">
                                <span class="person-name black-text">Fashion District</span> <span class="person-post">$225</span>
                                <div class="separator-line bg-yellow"></div>
                                <p>Easy access to uptown or downtown</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-4 text-center">
                        <div class="key-person">
                            <div class="key-person-img"><img src="images/patio.jpg" alt=""></div>
                            <div class="key-person-details">
                                <span class="person-name black-text">Chelsea</span> <span class="person-post">$250</span>
                                <div class="separator-line bg-yellow"></div>
                                <p>Large living room space with patio.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end key person section -->

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 center-col text-center">
                        <a href="/register" class="btn-success btn btn-large button button-desc button-3d btn-round">Join Us<span>Be Part of CrashPad Community</span></a>
                    </div>
                </div>
            </div>
        </section>
       
        <!-- style="padding:40px 0px 40px 0px;text-align:center"-->
        <!-- footer -->
        {{>footer}}
        {{>scripts}}

    </body>
</html>
