<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Register</h1>
    <form action="/api/profile" method="post">
    	<input type="text" name="firstName" placeholder="First Name" /><br />
    	<input type="text" name="lastName" placeholder="Last Name" /><br />
    	<input type="text" name="city" placeholder="City" /><br />
    	<input type="text" name="state" placeholder="State" /><br />
    	<input type="text" name="zip" placeholder="Zip" /><br />
    	<input type="text" name="email" placeholder="Email" /><br />
    	<input type="text" name="password" placeholder="Password" /><br />
    	<button type="submit">Register</button>
    </form>
  </body>
</html>